*{
    padding: 0;
    margin: 0;
    background-color: beige;
}

.row{
    background-color: orange;
}

.col{
    background-color: orange;
}

.col-sm{
    background-color: lightblue;
}

.col-md{
    background-color: lightcoral;
}

.col-lg{
    background-color: lightcyan;
}

.col-xl{
    background-color: lightsalmon;;
}

.col-xxl{
    background-color: lightseagreen;
}


